@import "../../App.scss";
@import "../../amountStyles.scss";

.select {
  p {
    font-size: 1.3rem;
  }

  .close_btn {
    position: absolute;
    right: 3rem;
  }

  .Select__optionContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    max-height: 34.5rem;
    width: calc(100%);
    box-shadow: 0 0 0 0.1rem $black;
    border-radius: 0.8rem;
    top: 4.7rem;
    z-index: 1;
    background: $black;
    transform: scale(0);
    overflow-y: scroll;
    border: 0.1rem solid;

    ul {
      li {
        width: 100%;
        display: flex;
      }
    }
    &:hover {
      background: $black;
      color: $white;
    }
    @include md {
      justify-content: center;
    }
  }
  /* полоса прокрутки (скроллбар) */
  .Select__optionContainer::-webkit-scrollbar {
    width: 9px; /* ширина для вертикального скролла */
  }

  /* ползунок скроллбара */
  .Select__optionContainer::-webkit-scrollbar-thumb {
    height: 1.3rem;
    border-radius: 1rem;
    background-color: #7b7b7b;
    box-shadow: inset 0.1rem 0.1rem 1rem #f3faf7;
    position: absolute;
  }

  .open_container {
    transform: scale(1);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  ul {
    list-style: none;
    font-weight: 500;
    line-height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 2rem;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.Input__Option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include md {
    flex-direction: column;
    & {
      width: 10rem;
    }
  }

  .Input {
    margin: 2rem;
  }

  .line {
    width: 100%;
    background: white;
    height: 0.1rem;
    max-width: 1.5rem;
  }
}

.active {
  transform: scale(1);
}
