@import "./vars";
@import "./brakepoints";
@import "./nullStyle.scss";
@import "./amountStyles.scss";

html {
  font-size: 62.5%;
}

.App {
  .layout {
    display: flex;
    flex-direction: column;
    background-color: $black;
  }
  .light {
    background-color: $white !important;
    color: $black !important;
    border-color: $gray !important;
    .Select__optionContainer li:hover {
      background-color: $black !important;
      color: $white !important;
      &:focus {
        border-color: $black;
      }
    }
    .Input__Option {
      border: none !important;
      .Input {
        background-color: $light-gray !important;
      }
    }

    * {
      fill: $black;
    }
  }

  h4 {
    padding-top: 0.5rem;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  p {
    font-size: 1.3rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapper {
  margin: 0 auto;
}

.Pagination {
  margin: 4.5rem 0 10rem 0;
  display: flex;
  width: fit-content;
}

.PaginationPage {
  @include backWhite;
  width: 3.9rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: 1px solid;
  border-right: none;

  background: inherit;
  &:first-of-type {
    border-radius: 0.8rem 0 0 0.8rem;
    cursor: pointer;
  }
  &:last-child {
    border-radius: 0 0.8rem 0.8rem 0;
    border-right: 1px solid;
    cursor: pointer;
  }
  &:only-child {
    border-radius: 0.8rem;
  }
  &:hover {
    background: $black;
    color: $white;
  }
  &:disabled {
    border-color: $light-gray;
    color: $light-gray;

    &:hover {
      cursor: auto;
      background: inherit;
    }
  }
  &--dark {
    border: 1px solid $white;
    color: $white;
    border-right: none;

    &:hover {
      @include backGray;
    }
    &:disabled {
      border-color: $gray;
      color: $gray;
    }
  }
  &.PaginationPageWithActive {
    @include backBlack;
    &:hover {
      cursor: auto;
      @include backBlack;
    }
    &--dark {
      @include backWhite;
      &:hover {
        @include backWhite;
      }
    }
  }
}
